body {
  color: $main-color;
}

button {
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.show-more-button {
  margin: 35px auto 0;
  width: 252px;
  height: 50px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: $base-color;
  display: block;
}

.blue-button {
  font-family: SFProDisplay, sans-serif;
  background-color: $accent-color;
  color: #FFF;
  border-radius: 3px;
}

input {
  outline: none;
}

input::placeholder {
  color: $light-gray;
}

html {
  font-family: SFProDisplay, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.main {
  min-height: 100vh;
}

.section-title {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}
