<section class="catalog">
  <div class="catalog__wrapper">
    <div class="container">
      <div class="catalog__inner">
        <h2 class="catalog__goods-section-title goods-section-title">Гидроциклы</h2>
        <div class="catalog__view-control-bar view-control-bar">
          <ul class="view-control-bar__popular-search-request-list popular-search-request-list">
            <li class="popular-search-request-list__item">
              <button class="popular-search-request__button">Полноприводные</button>
            </li>
            <li class="popular-search-request-list__item">
              <button class="popular-search-request__button">От 5000</button>
            </li>
            <li class="popular-search-request-list__item">
              <button class="popular-search-request__button">BRP</button>
            </li>
            <li class="popular-search-request-list__item">
              <button class="popular-search-request__button">Еще</button>
            </li>
          </ul>
          <div class="view-control-bar__view-types">
            <select class="view-control-bar__sort-by-list" name="#">
              <option class="view-control-bar__sort-by-item" value="popular">По популярности</option>
              <option class="view-control-bar__sort-by-item" value="saab">По цене по возрастанию</option>
              <option class="view-control-bar__sort-by-item" value="mercedes">По цене по убыванию</option>
              <option class="view-control-bar__sort-by-item" value="audi">По алфавиту</option>
            </select>
            <div class="view-control-bar__view-type-buttons">
              <button class="view-control-bar__view-type-button">
                <svg width="25" height="19" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1" y="1" width="21" height="19" stroke="#2F3035" stroke-width="2"/>
                  <rect x="7" y="6" width="2" height="2" fill="#2F3035" stroke="#2F3035" stroke-width="2"/>
                  <rect x="7" y="13" width="2" height="2" fill="#2F3035" stroke="#2F3035" stroke-width="2"/>
                  <rect x="14" y="6" width="2" height="2" fill="#2F3035" stroke="#2F3035" stroke-width="2"/>
                  <rect x="14" y="13" width="2" height="2" fill="#2F3035" stroke="#2F3035" stroke-width="2"/>
                </svg>
              </button>
              <button class="view-control-bar__view-type-button">
                <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.3">
                    <rect x="6" width="19" height="3" rx="1.5" fill="#2F3035"/>
                    <rect x="6" y="8" width="19" height="3" rx="1.5" fill="#2F3035"/>
                    <rect x="6" y="16" width="19" height="3" rx="1.5" fill="#2F3035"/>
                    <rect width="3" height="3" rx="1.5" fill="#2F3035"/>
                    <rect y="8" width="3" height="3" rx="1.5" fill="#2F3035"/>
                    <rect y="16" width="3" height="3" rx="1.5" fill="#2F3035"/>
                  </g>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="catalog__window">
          <div class="catalog__filter filter">
            <form class="filter__form" action="#">
              <div class="filter__head-buttons">
                <button class="filter__head-button active">Параметры</button>
                <button class="filter__head-button">По марке</button>
              </div>
              <div class="filter__columns">
                <div class="filter__column filter__by-params">
                  <ul class="filter__section-list">
                    <li class="filter__section-item">
                      <div class="filter__section-item-inner">
                        <div class="filter-drop-down drop-down">
                          <button class="drop-down__head-button">Наличие</button>
                          <div class="drop-down__section-body drop-down__body">
                            <div class="drop-down__body-window">
                              <div class="drop-down__search-wrapper">
                                <label class="drop-down__checkbox-label" for="">
                                  <input class="drop-down__search-field"
                                         type="text" name="#"
                                         placeholder="Введите модель">
                                </label>
                              </div>
                              <div class="drop-down__checkbox-list-default">
                                <label class="drop-down__checkbox-label" for="">
                                  <input class="drop-down__checkbox-default"
                                         type="checkbox" name="№"
                                         checked="checked">В наличие
                                </label>
                                <label class="drop-down__checkbox-label" for="">
                                  <input class="drop-down__checkbox-default"
                                         type="checkbox" name="№">Под заказ
                                </label>
                                <label class="drop-down__checkbox-label" for="">
                                  <input class="drop-down__checkbox-default"
                                         type="checkbox" name="№">Под заказ
                                </label>
                              </div>
                              <button class="drop-down__open-full-window-button see-more-button">Показать
                                еще
                              </button>
                              <div class="drop-down__check-buttons">
                                <label class="drop-down__checkbox-label active" for="">
                                  <input class="drop-down__check-button"
                                         type="checkbox" name="№">SALE
                                </label>
                                <label class="drop-down__checkbox-label special-checkbox-label" for="">
                                  <input class="drop-down__check-button special-check-button"
                                         type="checkbox" name="№">NEW
                                </label>
                                <label class="drop-down__checkbox-label special active" for="">
                                  <input class="drop-down__check-button special"
                                         type="checkbox" name="№">Дилер
                                </label>
                              </div>
                              <div class="drop-down__slider">
                                <div class="drop-down__slider-inner">
                                  <div class="drop-down__slider-back-line">
                                    <div class="drop-down__slider-main-line">
                                      <div class="drop-down__minimum-value">
                                        <p class="drop-down__cloud-value">
                                          100 000
                                        </p>
                                      </div>
                                      <div class="drop-down__maximum-value">
                                        <!--                                                                                    <p class="drop-down__cloud-value">-->
                                        <!--                                                                                        500 000-->
                                        <!--                                                                                    </p>-->
                                      </div>
                                    </div>
                                  </div>
                                  <div class="drop-down__slider-pointers">
                                                                            <span class="drop-down__slider-pointer drop-down__slider-pointer-minimum">
                                                                                100 000
                                                                            </span>
                                    <span class="drop-down__slider-pointer drop-down__slider-pointer-maximum">
                                                                                500 000
                                                                            </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="filter__section-item inline-filter">
                      <div class="filter__section-item-inner">
                        <h3 class="filter__section-item-title">Мощность, л.с.</h3>
                        <label class="filter__section-label" for="">
                          <select class="filter__section-selector section-selector"
                                  name="#">
                            <option class="section-selector__option" value="1">1
                            </option>
                            <option class="section-selector__option" value="2">2
                            </option>
                            <option class="section-selector__option" value="3">3
                            </option>
                            <option class="section-selector__option" value="4">4
                            </option>
                          </select>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="filter__column filter__by-product-label">

                </div>
              </div>
              <button type="submit" class="filter__button-submit">Выбрать</button>
              <div class="filter__section-item addition-parameters drop-down">
                <button class="addition-parameters__button">Дополнительные параметры</button>
                <div class="drop-down__body drop-down__body"></div>
              </div>
              <button class="filter__button-reset" type="reset">Сбросить фильтр</button>
            </form>
          </div>
          <div class="catalog__list-wrapper">
            <ul class="catalog__list">
              <li class="catalog__list-item" *ngFor="let product of products">
                <app-product [productData]="product"></app-product>
              </li>
            </ul>
            <button class="show-more-button rectangle-button">Показать еще</button>
            <div class="catalog__pagination pagination">
              <ul class="pagination__list">
                <li class="pagination__list-item">
                  <button class="pagination__button active">1</button>
                </li>
                <li class="pagination__list-item">
                  <button class="pagination__button">2</button>
                </li>
                <li class="pagination__list-item">
                  <button class="pagination__button">3</button>
                </li>
                <li class="pagination__list-item">
                  <button class="pagination__button">4</button>
                </li>
                <li class="pagination__list-item">
                  <button class="pagination__button">5</button>
                </li>
                <li class="pagination__list-item">
                  <button class="pagination__button">...</button>
                </li>
                <li class="pagination__list-item">
                  <button class="pagination__button">11</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="popular-goods">
  <app-product-carousel></app-product-carousel>
</section>
