@import "../../styles/vars";

.advertisement {
  margin: 41px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__carousel-inner {
    max-width: 870px;
    width: 100%;
  }

  &__carousel {
    display: flex;
    min-height: 400px;
  }

  &__carousel-item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  &__carousel-text {
    font-family: Barlow, sans-serif;
    font-weight: 700;
    font-size: 42px;
    max-width: 285px;
    text-align: center;
    margin-top: 73px;
  }

  &__banner {
    margin-left: 30px;
  }

  .carousel-arrows {
    z-index: 1;
  }

  .left-arrow {
    left: 8px;
  }

  .right-arrow {
    right: 8px;
  }
}

.carousel-dots {
  position: absolute;
  left: 50%;
  bottom: 40px;

  &__list {
    display: flex;

    &-item {
      height: 11px;
      width: 11px;
      border-radius: 50%;
      border: 1px solid #FFFFFF;

      &.active {
        background: #FFFFFF;
      }
    }

    .carousel-dots__list-item + .carousel-dots__list-item {
      margin-left: 9px;
    }
  }
}

.search {
  margin-bottom: 50px;

  &__tabs {
    margin-bottom: 25px;
  }

  &__tab {
    padding: 11px 28px;
    border-radius: 5px;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      background-color: $base-color;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__input {
    width: 100%;
    height: 50px;
    background-color: $base-color;
    padding: 15px 150px 15px 20px;
    font-size: 16px;
    line-height: 19px;
    border-radius: 3px;
  }

  &__submit-button {
    height: 50px;
    padding: 16px 38px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: .12em;
    position: absolute;
    right: 0;
    border-radius: 3px;
  }
}

.tab-menu {
  margin: 80px 0;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap: 30px;

  &__item {
    display: block;
    position: relative;

    width: 100%;
    height: 130px;
    padding: 20px 14px;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 90%;
    border: 1px solid $super-light-gray;
    border-radius: 3px;

    transition: all .5s;

    &:hover {
      color: $accent-color;
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border: 1px solid #FFFFFF;
      background-repeat: no-repeat;
      background-size: 35%;
      background-position: 90%;
    }

    &:nth-child(3) {
      background-size: 55%;
    }

    &:nth-child(6) {
      background-size: 15%;
      background-position: 80%;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  &__more {
    position: relative;
    font-size: 14px;
    line-height: 17px;
    color: $light-gray;
    padding-right: 9px;
    cursor: pointer;

    &::after, &::before {
      position: absolute;
      content: '';
      height: 6px;
      width: 1px;
      background-color: $light-gray;
      left: 77px;
    }

    &::after {
      transform: rotate(45deg);
      top: 8px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 4px;
    }
  }
}

.product-goods {
  position: relative;

  &-tabs__carousel {
    display: flex;
    position: relative;
  }

  &-tabs__carousel-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-tabs {
    .button-decorate {
      &__wrapper {
        position: static;
      }

      &__underline {
        bottom: -5px;
      }
    }

    &__carousel {
      .carousel-arrows {
        .carousel-arrows__button::after,
        .carousel-arrows__button::before {
          background-color: #000000;
        }
      }

      .right-arrow {
        right: -50px;
      }

      .left-arrow {
        left: -50px;
      }
    }
  }
}

.banner-advertisement {
  margin: 86px 0 72px;

  &__image-layout {
    width: 100%;
    height: 165px;
  }
}

.popular-goods {
  margin-bottom: 97px;
}
