@import "../../styles/vars";

.advertisement {
  margin: 41px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__carousel-wrapper {
    max-width: 850px;
  }
}

.search {
  margin-bottom: 50px;

  &__tabs {
    margin-bottom: 25px;
  }

  &__tab {
    padding: 11px 28px;
    border-radius: 5px;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      background-color: $base-color;
    }
  }

  &__form {
    width: 100%;
    position: relative;
  }

  &__input {
    width: 100%;
    height: 50px;
    background-color: $base-color;
    padding: 15px 150px 15px 20px;
    font-size: 16px;
    line-height: 19px;
    border-radius: 3px;
  }

  &__submit-button {
    height: 50px;
    padding: 16px 38px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: .12em;
    position: absolute;
    right: 0;
    border-radius: 3px;
  }
}

.banner-advertisement {
  margin: 86px 0 72px;

  &__image-layout {
    width: 100%;
    height: 165px;
  }
}

.popular-goods {
  margin-bottom: 97px;
}
