<div class="scroll-window"
     #window
     (mousemove)="mousemove($event)"
     (mousewheel)="mousewheel($event)"
     (mousedown)="mousedown($event)"
     (mouseup)="mouseup()">
  <div class="scroll-window__inner">
    <div class="scroll-window__container"
         #container
         [style.top.px]="containerPosition"
         [ngClass]="{'top-transition': !draggable}">

<!--          <ng-template #ref></ng-template>-->
          <ng-container *ngFor="let child of children">
            <app-scroll-window-child
              (childRenderedReady)="resize()"
              [contentChild]="child">
            </app-scroll-window-child>
          </ng-container>

<!--        <app-scroll-window-child-->
<!--          *ngFor="let child of children;"-->
<!--          (childRenderedReady)="resize()"-->
<!--          [contentChild]="child">-->
<!--        </app-scroll-window-child>-->
    </div>
    <div class="scroll-window__strip"
         #strip
         (mouseenter)="mouseenter()"
         (mouseleave)="mouseleave()"
         (mouseup)="mouseup()"
         *ngIf="containerHeight > windowHeight"
         [ngClass]="{'strip-visible':    visible,
                     'strip-transition': stripOpacityTransition}"
         (click)="goToPercentage($event)">
      <div class="scroll-window__handle"
           #handle
           [style.height.px]="handleHeight"
           [style.top.px]="handlePosition"
           [ngClass]="draggable ? 'handle-background' : 'top-transition'">
      </div>
    </div>
  </div>
</div>
