<div class="scroll-window"
    #window
    appScrollVisible
    (mousemove)="mousemove($event)"
    (mouseup)="mouseup()"
    (mouseleave)="mouseleave()"
    (mousewheel)="mousewheel($event)">
    <div class="scroll-window__inner">
        <div class="scroll-window__container"
            #container
            [ngStyle]="{'top': scrollWindowService.containerPosition + 'px'}"
            [ngClass]="{'top-transition-enable': !scrollWindowService.draggable}"
            ><ng-content></ng-content>
        </div>
        <div class="scroll-window__strip"
         #strip
         appScrollStrip
         *ngIf="scrollWindowService.containerHeight > scrollWindowService.windowHeight"
         (mouseenter)="scrollWindowService.visible = true;"
         [style.opacity]="scrollWindowService.visible ? '1' : '0'"
         (click)="goToPercentage($event)">
            <div class="scroll-window__handle"
                #handle
                [ngStyle]="{'top': scrollWindowService.handlePosition + 'px'}"
                [ngClass]="scrollWindowService.draggable ? 'background-handle-enable' : 'top-transition-enable'"
                (mousedown)="mousedown($event)">
            </div>
        </div>
    </div>
</div>
