.carousel {
  position: relative;

  &__inner {
    position: relative;
    overflow: hidden;
    z-index: 5;
    display: flex;
    justify-content: space-around;
  }

  &__window {
    width: 100%;
  }

  &__track {
    display: flex;

    width: 100%;
    padding: 25px 0;
    transform: translateX(0px);
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    min-height: 403px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.carousel-arrows {
  z-index: 1;
  .carousel-arrows__button::after,
  .carousel-arrows__button::before {
    background-color: #000000;
  }
}

.right-arrow,.left-arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.right-arrow {
  right: -50px;
}

.left-arrow {
  left: -50px;
}
