<div class="carousel">
  <div class="carousel__inner">
    <div class="carousel__window" #carouselWindow>
      <div class="carousel__track" #carouselTrack>
        <div class="carousel__item" #carouselSlides *ngFor="let carouselItem of carouselItems">
          <app-product [productData]="carouselItem"></app-product>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-arrows">
    <button class="carousel-arrows__button left-arrow" appPrevSlide *ngIf="arrowsState.prevVisible" (click)="changeSlide()"></button>
    <button class="carousel-arrows__button right-arrow" appNextSlide *ngIf="arrowsState.nextVisible" (click)="changeSlide()"></button>
  </div>
</div>
