<div class="search__main-form">
  <form class="search__form" action="#" [formGroup]="formSearch" (ngSubmit)="submitSearch()">
    <app-search-tabs></app-search-tabs>
    <div class="search__input-wrapper">
      <div class="search__input-inner">
        <input (focus)="onFocus()" (focusout)="onFocusOut()" #input class="search__input" type="text" placeholder="Введите марку" formControlName="searchString">
        <button class="search__clear-button" [hidden]="formSearch.get('searchString')?.errors?.['required']" (click)="clear()"></button>
      </div>
      <button class="search__submit-button blue-button rectangle-button" type="submit">Искать</button>
    </div>
    <div class="search__error-container">
      <small class="search__error" [style.visibility]="inputIsFocused && formSearch.get('searchString')?.errors?.['required'] && previousWasEmpty ? 'visible' : 'hidden'">
        Введите поисковой запрос
      </small>
      <small class="search__error" [style.visibility]="formSearch.get('searchString')?.errors?.['maxlength']? 'visible' : 'hidden'">
        Максимальное количество символов: {{formSearch.get('searchString')?.errors?.['maxlength']?.['actualLength']}}.
        Количество введенных символов {{formSearch.get('searchString')?.errors?.['maxlength']?.['requiredLength']}}
      </small>
    </div>
  </form>
</div>
