<section class="breadcrumbs">
  <div class="breadcrumbs__wrapper">
    <div class="container">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__list-item">
          <a class="breadcrumbs__link" href="#">Главная</a>
        </li>
        <li class="breadcrumbs__list-item">
          <a class="breadcrumbs__link" href="#">Гидроциклы</a>
        </li>
        <li class="breadcrumbs__list-item">
          <a class="breadcrumbs__link" href="#">Гидроциклы</a>
        </li>
        <li class="breadcrumbs__list-item">
          <a class="breadcrumbs__link" href="#">Гидроциклы</a>
        </li>
        <li class="breadcrumbs__list-item">
          <a class="breadcrumbs__link" href="#">Гидроциклы</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="product">
  <div class="product__wrapper">
    <div class="container">
      <div class="product__inner">
        <div class="product__main-info main-info">
          <div class="main-info__big-card big-card" style="background-image: url('../../../../assets/gidrotsikl-product-page-img.png')">
            <div class="big-card__sale-tag">sale</div>
            <span class="big-card__old-price" *ngIf="product.oldPrice">{{product.oldPrice}} ₽</span>
            <span class="big-card__price">{{product.price}} ₽</span>
            <a class="big-card__low-cost-report" href="#">Нашли дешевле? Снизим цену!</a>
          </div>
          <div class="main-info__info">
            <h3 class="main-info__product-name">{{product.name}}</h3>
            <span class="main-info__product-code">Код товара: {{product.code}}</span>
            <div class="main-info__statistic-bar">
              <button class="main-info__button main-info__like-button" (click)="toggleLike()">
                <svg *ngIf="product.favorite; else disableIconForLikeButton" width="24" height="22" viewBox="0 0 24 22"
                     fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 3.43498C10.011 -1.96402 0 -1.16202 0 7.00298C0 11.071 3.06 16.484 12 22C20.94 16.484 24 11.071 24 7.00298C24 -1.11502 14 -1.99602 12 3.43498Z"
                        fill="#1C62CD"/>
                </svg>
                <ng-template #disableIconForLikeButton>
                  <svg width="24" height="22"
                       viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 8.22892C12.234 7.10892 13.547 1.99992 17.382 1.99992C19.602 1.99992 22 3.55092 22 7.00292C22 10.9099 18.373 15.4729 12 19.6319C5.627 15.4729 2 10.9099 2 7.00292C2 3.51892 4.369 1.99792 6.577 1.99792C10.5 1.99792 11.722 7.12392 12 8.22892ZM0 7.00292C0 11.0709 3.06 16.4839 12 21.9999C20.94 16.4839 24 11.0709 24 7.00292C24 -0.959077 14.352 -2.02508 12 3.26592C9.662 -1.99608 0 -1.00408 0 7.00292Z"
                          fill="#2F3035"/>
                  </svg>
                </ng-template>
              </button>
              <button class="main-info__button main-info__statistic-button">
                <svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="16" y="15.7708" width="4" height="11.7255" rx="2" fill="#2F3035"/>
                  <rect x="8" y="0.527588" width="4" height="26.9687" rx="2" fill="#2F3035"/>
                  <rect y="9.90796" width="4" height="17.5883" rx="2" fill="#2F3035"/>
                </svg>
              </button>
              <ul class="main-info__star-rating star-rating">
                <li class="star-rating__star">
                  <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.2875 0L13.8778 7.9463H22.2603L15.4787 12.8574L18.0691 20.8037L11.2875 15.8926L4.50593 20.8037L7.09626 12.8574L0.314686 7.9463H8.69717L11.2875 0Z" fill="#1C62CD"/>
                  </svg>
                </li>
                <li class="star-rating__star">
                  <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5375 0L14.1278 7.9463H22.5103L15.7287 12.8574L18.3191 20.8037L11.5375 15.8926L4.75593 20.8037L7.34626 12.8574L0.564686 7.9463H8.94717L11.5375 0Z" fill="#C4C4C4"/>
                  </svg>
                </li>
                <li class="star-rating__star">
                  <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5375 0L14.1278 7.9463H22.5103L15.7287 12.8574L18.3191 20.8037L11.5375 15.8926L4.75593 20.8037L7.34626 12.8574L0.564686 7.9463H8.94717L11.5375 0Z" fill="#C4C4C4"/>
                  </svg>
                </li>
                <li class="star-rating__star">
                  <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5375 0L14.1278 7.9463H22.5103L15.7287 12.8574L18.3191 20.8037L11.5375 15.8926L4.75593 20.8037L7.34626 12.8574L0.564686 7.9463H8.94717L11.5375 0Z" fill="#C4C4C4"/>
                  </svg>
                </li>
                <li class="star-rating__star">
                  <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5375 0L14.1278 7.9463H22.5103L15.7287 12.8574L18.3191 20.8037L11.5375 15.8926L4.75593 20.8037L7.34626 12.8574L0.564686 7.9463H8.94717L11.5375 0Z" fill="#C4C4C4"/>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <div class="main-info__tabs">
            <div class="main-info__tab-buttons">
              <div class="main-info__tab-button-wrapper">
                <button class="main-info__tab-button active">Характеристики</button>
              </div>
              <div class="main-info__tab-button-wrapper">
                <button class="main-info__tab-button">Наличие в магазине</button>
              </div>
            </div>
            <div class="main-info__tabs-wrapper">
              <div class="main-info__tab characteristics">
                <ul class="characteristics__list">
                  <li class="characteristics__list-item">
                    <span class="characteristics__characteristic-key">Производитель</span>
                    <span class="characteristics__value">{{product.characteristic?.manufacturer}}</span>
                  </li>
                  <li class="characteristics__list-item">
                    <span class="characteristics__characteristic-key">Количество мест, шт: </span>
                    <span class="characteristics__value">{{product.characteristic?.quantity}}</span>
                  </li>
                  <li class="characteristics__list-item">
                    <span class="characteristics__characteristic-key">Мощность, л.с.</span>
                    <span class="characteristics__value">{{product.characteristic?.power}}</span>
                  </li>
                  <li class="characteristics__list-item">
                    <span class="characteristics__characteristic-key">Тип двигателя</span>
                    <span class="characteristics__value">{{product.characteristic?.engineType}}</span>
                  </li>
                  <li class="characteristics__list-item">
                    <span class="characteristics__characteristic-key">Год выпуска</span>
                    <span class="characteristics__value">{{product.characteristic?.yearOfIssue}}</span>
                  </li>
                </ul>
              </div>
              <div class="main-info__tab available"></div>
              <button class="characteristics__see-more-button see-more-button">Показать еще</button>
            </div>
            <div class="main-info__tab availability">

            </div>
          </div>
          <div class="main-info__buy-button-wrapper">
            <button class="main-info__buy-button blue-button" (click)="toggleAddToBasket($event)">Купить</button>
          </div>
        </div>
        <div class="product__information product-information">
          <ul class="product-information__menu">
            <li class="product-information__menu-item button-decorate">
                                <span class="button-decorate__wrapper">
                                    <a class="menu__link link">О товаре</a>
                                    <span class="button-decorate__underline"></span>
                                </span>
            </li>
            <li class="product-information__menu-item button-decorate">
                                <span class="button-decorate__wrapper">
                                    <a class="menu__link link">Характеристики</a>
                                    <span class="button-decorate__underline"></span>
                                </span>
            </li>
            <li class="product-information__menu-item button-decorate">
                                <span class="button-decorate__wrapper">
                                    <a class="menu__link link">Отзывы</a>
                                    <span class="button-decorate__underline"></span>
                                </span>
            </li>
            <li class="product-information__menu-item button-decorate">
                                <span class="button-decorate__wrapper">
                                    <a class="menu__link link">Самовывоз</a>
                                    <span class="button-decorate__underline"></span>
                                </span>
            </li>
            <li class="product-information__menu-item button-decorate">
                                <span class="button-decorate__wrapper">
                                    <a class="menu__link link">Доставка</a>
                                    <span class="button-decorate__underline"></span>
                                </span>
            </li>
            <li class="product-information__menu-item button-decorate">
                                <span class="button-decorate__wrapper">
                                    <a class="menu__link link">Cервис</a>
                                    <span class="button-decorate__underline"></span>
                                </span>
            </li>
            <li class="product-information__menu-item button-decorate">
                                <span class="button-decorate__wrapper">
                                    <a class="menu__link link">Гарантия</a>
                                    <span class="button-decorate__underline"></span>
                                </span>
            </li>
          </ul>
          <div class="product-information__body">
            <form class="product-information__filter">
              <label class="product-information__shop-address">
                <span class="product-information__label-span">Магазин</span>
                <input class="product-information__shop-address-input" placeholder="Введите название магазина" type="text" name="#">
              </label>
              <label class="product-information__pick-data">
                <input class="product-information__pick-data-input" type="checkbox" name="#">
                <span class="product-information__label-span">Забрать сегодня</span>
              </label>
              <label class="product-information__pick-data">
                <input class="product-information__pick-data-input" type="checkbox" name="#">
                <span class="product-information__label-span">Забрать в течение недели</span>
              </label>
            </form>
            <div class="product-information__result-window">
              <div class="product-information__result-table result-table">
                <div class="result-table__slot result-table__head-slot address-slot">Адрес</div>
                <div class="result-table__slot result-table__head-slot work-time-slot">Режим работы</div>
                <div class="result-table__slot result-table__head-slot available-state-slot">Доступно</div>
                <div class="result-table__slot result-table__head-slot available-count-slot">Количество</div>
                <div class="result-table__slot result-table__row-slot address-slot">Москва, ул. Науки 25</div>
                <div class="result-table__slot result-table__row-slot work-time-slot">
                  <div class="result-table__row-div">
                    <span class="result-table__day-of-week">пн-сб:</span>
                    <span class="result-table__hour-of-day">08:00-19:00</span>
                  </div>
                  <div class="result-table__row-div">
                    <span class="result-table__day-of-week">вс:</span>
                    <span class="result-table__hour-of-day">09:00-17:00</span>
                  </div>
                </div>
                <div class="result-table__slot result-table__row-slot available-state-slot">В наличии</div>
                <div class="result-table__slot result-table__row-slot available-count-slot">1</div>
                <div class="result-table__slot result-table__row-slot buy-button-wrapper-slot">
                  <button class="result-table__buy-button blue-button">Купить</button>
                </div>
              </div>
              <button class="product-information__show-all-shops">Показать все магазины</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="recommended-goods-on-product-page">
  <app-product-carousel-section></app-product-carousel-section>
</section>



<!--                        <div class="main-info__description">-->
<!--                            <h3 class="main-info__product-name">Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic</h3>-->
<!--                            <span class="main-info__product-code">Код товара: 366666-2 </span>-->
<!--                            <div class="main-info__statistic-bar">-->
<!--                                <button class="main-info__button main-info__like-button">-->
<!--                                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                        <path d="M12 8.22892C12.234 7.10892 13.547 1.99992 17.382 1.99992C19.602 1.99992 22 3.55092 22 7.00292C22 10.9099 18.373 15.4729 12 19.6319C5.627 15.4729 2 10.9099 2 7.00292C2 3.51892 4.369 1.99792 6.577 1.99792C10.5 1.99792 11.722 7.12392 12 8.22892ZM0 7.00292C0 11.0709 3.06 16.4839 12 21.9999C20.94 16.4839 24 11.0709 24 7.00292C24 -0.959077 14.352 -2.02508 12 3.26592C9.662 -1.99608 0 -1.00408 0 7.00292Z" fill="#2F3035"/>-->
<!--                                    </svg>-->
<!--                                </button>-->
<!--                                <button class="main-info__button main-info__statistic-button">-->
<!--                                    <svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                        <rect x="16" y="15.7708" width="4" height="11.7255" rx="2" fill="#2F3035"/>-->
<!--                                        <rect x="8" y="0.527588" width="4" height="26.9687" rx="2" fill="#2F3035"/>-->
<!--                                        <rect y="9.90796" width="4" height="17.5883" rx="2" fill="#2F3035"/>-->
<!--                                    </svg>-->
<!--                                </button>-->
<!--                                <ul class="main-info__star-rating star-rating">-->
<!--                                    <li class="star-rating__star">-->
<!--                                        <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                            <path d="M11.2875 0L13.8778 7.9463H22.2603L15.4787 12.8574L18.0691 20.8037L11.2875 15.8926L4.50593 20.8037L7.09626 12.8574L0.314686 7.9463H8.69717L11.2875 0Z" fill="#1C62CD"/>-->
<!--                                        </svg>-->
<!--                                    </li>-->
<!--                                    <li class="star-rating__star">-->
<!--                                        <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                            <path d="M11.5375 0L14.1278 7.9463H22.5103L15.7287 12.8574L18.3191 20.8037L11.5375 15.8926L4.75593 20.8037L7.34626 12.8574L0.564686 7.9463H8.94717L11.5375 0Z" fill="#C4C4C4"/>-->
<!--                                        </svg>-->
<!--                                    </li>-->
<!--                                    <li class="star-rating__star">-->
<!--                                        <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                            <path d="M11.5375 0L14.1278 7.9463H22.5103L15.7287 12.8574L18.3191 20.8037L11.5375 15.8926L4.75593 20.8037L7.34626 12.8574L0.564686 7.9463H8.94717L11.5375 0Z" fill="#C4C4C4"/>-->
<!--                                        </svg>-->
<!--                                    </li>-->
<!--                                    <li class="star-rating__star">-->
<!--                                        <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                            <path d="M11.5375 0L14.1278 7.9463H22.5103L15.7287 12.8574L18.3191 20.8037L11.5375 15.8926L4.75593 20.8037L7.34626 12.8574L0.564686 7.9463H8.94717L11.5375 0Z" fill="#C4C4C4"/>-->
<!--                                        </svg>-->
<!--                                    </li>-->
<!--                                    <li class="star-rating__star">-->
<!--                                        <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                            <path d="M11.5375 0L14.1278 7.9463H22.5103L15.7287 12.8574L18.3191 20.8037L11.5375 15.8926L4.75593 20.8037L7.34626 12.8574L0.564686 7.9463H8.94717L11.5375 0Z" fill="#C4C4C4"/>-->
<!--                                        </svg>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            -->
<!--                        </div>-->
