.tab-buttons {
  display: flex;
  justify-content: flex-start;
  width: 105%;

  .tab-button {
    display: flex;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    margin-right: 50px;
    position: relative;
    height: 25px;

    &:hover {
      .menu__link {
        font-weight: 400;
        transform: scale(2);
      }
    }

    .button__decorate-line {
      bottom: -10px;
    }
  }
}
