@import "../../styles/vars";

app-decorate-button {
  width: calc(105%);
  display: block;
}

.button-decorate {
  display: flex;
  position: relative;
  height: 100%;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;

  //&:hover{
  //  font-weight: 600;
  //}

  &__link {
    height: 100%;
  }

  &__underline {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    transition: all .5s;
    background-color: $accent-color;
  }

  &:hover, &.active {
    .button-decorate__underline {
      width: 100%;
      left: 0;
    }
  }
}
