<div class="carousel">
  <div class="carousel__inner">
    <div class="carousel__window" #carouselWindow>
      <div class="carousel__track"
           #carouselTrack
           [style.width.px]="state.trackWidth"
           [style.transform]="'translateX(' + state.currentTrackPosition + 'px)'"
           [ngStyle]="{'transition': state.transition ? 'all 1s' : 'none'}"
           (mousedown)="down($event)"
           (mouseup)="up($event)"
           (mousemove)="move($event)"
           (mouseleave)="leave()"
      >
        <div class="carousel__item" *ngFor="let carouselItem of carouselItems" [style]="'background-image: url('+ carouselItem.urlImage +')'" >
          <p class="carousel__text">{{carouselItem.text}}</p>
        </div>
      </div>
    </div>
    <div class="carousel-arrows">
      <button class="carousel-arrows__button left-arrow" [hidden]="!state.isArrowPrev" (click)="prev()"></button>
      <button class="carousel-arrows__button right-arrow" [hidden]="!state.isArrowNext" (click)="next()"></button>
    </div>
    <app-carousel-dots [carouselSlides]="carouselItems"></app-carousel-dots>
  </div>
</div>
